.blog {
  
  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 330px;
    margin: 0 auto;

    &-inner {
      position: relative;
      margin-bottom: 30px;
      padding-bottom: 10px;
      background: #f8fcfe;
      border: 1px solid #ececec;
      max-width: 330px;

      &:hover {
        .blog__item-title {
          color: $color-mint;
        }
        .blog__item-date {
          background: $color-mint;
        }
      }
    }

    &-img {
      display: block;
      margin-bottom: 5px;

      img {
        width: 100%;
      }

      @include screen(md) {
        margin-bottom: 15px;
      }
    }

    &-title {
      margin-bottom: 5px;
      padding-left: 10px;
      color: #717171;
      font-size: 14px;
      text-transform: capitalize;
      transition: 0.3s;

      @include screen(md) {
        margin-bottom: 10px;
        padding-left: 20px;
        font-size: 16px;
      }

      @include screen(xl) {
        font-size: 18px;
      }
    }

    &-text {
      position: relative;
      display: flex;
      justify-content: space-between;
      max-width: 200px;
      padding-left: 10px;
      font-weight: 300;
      color: #777;

      p {
        margin: 0;
      }

      &::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 15px;
        width: 1px;
        background: #777;
      }

      @include screen(md) {
        padding-left: 20px;
        max-width: 210px;
      }
    }

    &-date {
      position: absolute;
      top: 0;
      right: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 70px;
      height: 70px;
      text-align: center;
      background: #203e38;
      color: #fff;
      transition: 0.3s;

      @include screen(lg) {
        font-size: 16px;
      }
    }
  }
}
