.team {
  color: #fff;
  text-align: center;

  &__item {

    margin-bottom: 40px;
    
    @include screen(lg) {
      margin-bottom: 0;
    }

    &-inner {
      max-width: 330px;
      margin: 0 auto;

      &_img {
        position: relative;
      }
      
      &_text {
        background: #2e4a5b;
        text-align: left;
        transition: 0.3s;


        .team__position {
          padding: 20px;

          strong {
            display: inline-block;
            font-size: 16px;
          }

          span {
            display: inline-block;
            color: $color-mint;
            font-size: 13px;
            transition: 0.3s;
          }
        }

        .social-links {
          display: flex;
          justify-content: space-between;
          font-size: 20px;
          border-top: 1px solid #c7cfd3;

          a {
            display: block;
            width: 25%;
            padding: 13px 10px;
            text-align: center;
            transition: 0.3s;

            &:hover {
              color: #2e4a5b;
            }

            @include screen(md) {
              padding: 16px 13px;
            }

            
            @include screen(xl) {
              padding: 16px;
            }



            &:not(:last-child) {
              border-right: 1px solid #c7cfd3;
            }
          }
        }
      }
    }

    &-hover {
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 10;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      background: rgba(46,74,91, 0.5);
      color: $color-mint;
      font-size: 40px;
      transition: 0.3s;
      
  
      .icon-plus-1 {
        position: relative;
        display: block;
        background: #f4f5f6;
        border-radius: 50%;
        transition: 0.3s;

        &:hover {
          background: lighten(#f4f5f6, 20%);
          color: #2e4a5b;
        }

        &::after {
          content: "";
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: calc(100% + 10px);
          height: calc(100% + 10px);
          border-radius: 50%;
          border: 1px solid $color-mint;
        }
      }
    }
  }
}

.team__item-inner:hover {

  .team__item-hover {
    opacity: 1;
  }

  .team__item-inner_text {
    background: $color-mint;
  }

  .team__position span {
    color: #2e4a5b;
  }

}