@font-face {
    font-family: 'Bebas Neue';
    src: url('../fonts/BebasNeueBold.woff2') format('woff2'),
        url('../fonts/BebasNeueBold.woff') format('woff');
    font-weight: bold;
    font-style: bold;
} 

*, *::after, *::before {
    box-sizing: inherit
}

html {
    box-sizing: border-box;
}

body {
    background: url(../images/background-2images.jpg) center/cover no-repeat;
    font: 16px 'Roboto', sans-serif;
    padding: 40px 0;
    margin: 0;
    min-height: 100vh;
}

.form-wrapper {
    width: 445px;
    margin: 0 auto;
    padding: 25px 40px 40px;
    background: #fff;
    border-radius: 4px;
}

h1 {
    /* font-size: 42px;
    font-family: 'Bebas Neue';
    font-weight: bold; */
    font: 42px/1.05 'Bebas Neue', sans-serif;
    text-align: center;
    text-transform: uppercase;
    margin: 0 0 25px;
}

.textfield input {
    width: 100%;
    background: #f9f6f0;
    padding: 14px 34px;
    font-size: inherit;
    font-family: inherit;
    color: #171b1f;
    font-style: italic;
    border: 0;
    border-radius: 4px;
    outline: none;
}

.textfield {
    margin-bottom: 20px;
}

.textfield input::-webkit-input-placeholder { 
    color: #171b1f;
} 

.textfield input::-moz-placeholder { 
    color: #171b1f;
}
  .textfield input:-ms-input-placeholder { 
    color: #171b1f;
}

.textfield input:focus::-webkit-input-placeholder { 
    opacity: 0.5;
} 

.textfield input:focus::-moz-placeholder { 
    opacity: 0.5;
}

.textfield input:focus:-ms-input-placeholder { 
    opacity: 0.5;
}

/* CHECKBOXES */

.checkbox-field {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid #F9F6F0;
}

.checkbox-item {
    width: 50%;

}

.checkbox-item:nth-child(1),
.checkbox-item:nth-child(2) {
    margin-bottom: 25px;
}

input[type="checkbox"],
input[type="radio"] {
    display: none;
}

.checkbox-field label,
.radio-field label {
    position: relative;
    padding: 7px 10px 7px 42px;
    display: block;
}

.checkbox-field label::before {
    content: '';
    width: 30px;
    height: 30px;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -15px;
    border: 2px solid #eeebe6;
    border-radius: 2px;
}


input[type="checkbox"]:checked +label::before {
    border-width: 3px;
    border-color: #eca22e;
}

input[type="checkbox"]:checked +label::after {
    content: '';
    position: absolute;
    left: 6px;
    top: 50%;
    width: 18px;
    height: 13px;
    transform: translateY(-50%);
    background: url(../images/image-checked.png) no-repeat;

}

/* RADIO */

.radio-field {
    display: flex;
    flex-wrap: wrap;  
}

.radio-item {
    width: 50%;
}

.radio-field label::before {
    content: '';
    width: 25px;
    height: 25px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    border: 2px solid #eeebe6;
    border-radius: 50%;
}

input[type="radio"]:checked +label::before {
    border-width: 3px;
    border-color: #eca22e;
}

input[type="radio"]:checked +label::after {
    content: '';
    position: absolute;
    left: 6px;
    top: 50%;
    width: 13px;
    height: 13px;
    transform: translateY(-50%);
    background: #eca22e;
    border-radius: 50%;
}