html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit
}

body {
  margin: 0;
  font: 12px Georgia, 'Times New Roman', Times, serif;
  color: #8b8b8b;
  background: #f2f2f2;
}

a {
  color: #b86365;
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  width:960px;
  margin-left: auto;
  margin-right: auto;
}

.header {
  padding-top: 8px;
  background: #8e8f8a;  
}

.header-top {
  padding: 15px 0;
  background: #e0dfda;
  color: #666;
  font-size: 0;
}

.header-top .container,
.header-bottom .container {
  text-align: justify;
}

.header-top .container::after, 
.header-bottom .container::after {
  content: '';
  display: inline-block;
  width: 100%;
}

.header-contacs,
.search,
.logo,
.menu {
  display: inline-block;
  vertical-align: middle;
}

.header-contacs li {
  position: relative;
  display: inline-block;
  font-size: 12px;
}

/* .header-contacs li:first-child {
  padding-right: 6px; */

.header-contacs li:last-child {
  padding-left: 6px;
}

.header-contacs li:first-child::after {
  content: '|';
  margin-left: 6px;
}

.header-contacs a {
  color: inherit;
}

.search {
  position: relative;
}

.search::after {
  content: '';
  position: absolute;
  right: 7px;
  top: 50%;
  margin-top: -9px;
  width: 18px;
  height: 18px;
  background: url(../Image/icon-search.png) no-repeat;
}


.search input {
  padding: 5px 10px;
  width: 210px;
  background: #c0beb6;
  border: 0;
  border-radius: 10px/50%;
}

.header-bottom {
  padding: 34px 0;
  background: #d9d8d3;
  font-size: 0;
}

.logo a {
  color: #505050;
  font-size: 36px;
  font-style: italic;
  margin-bottom: 12px;
}

.logo p {
  margin: 0;
  font-size: 13px;
}

.menu {
background: #4b4b4b;
color: #828282;
border-radius: 20px/50%;
}

.menu ul {
  padding: 17px 25px;
  font-size: 0; 
}

.menu li {
  display: inline-block;
  font-size: 14px; 
  line-height: 1;
  text-transform: uppercase;
  font-weight: 700;
  
}

.menu li:not(:last-child) {
  margin-right: 40px;
  position: relative;
}

.menu li:not(:last-child)::after {
  content:'|';
  position: absolute;
  right: -21px;
  top: 50%;
  transform: translateY(-55%);
}

.menu a {
  color: inherit;
}

.menu a:hover {
  color: #fff;
}

/* Styles for intro section */

.intro {
  padding: 50px 0;
  display: table;
}

.intro-img,
.intro-text {
  display: table-cell;
  vertical-align: bottom;
}

.intro-text {
  padding-left: 30px;
  padding-bottom: 35px;
  text-align: right;
}

.intro-text h2,
.intro-text p {
  text-align: left;
}

.intro-text h2 {
  font-size: 22px;
  font-style: italic;
  font-weight: 400;  
  /* Or instead of 400 I can use "normal" */
  color: #505050;
}

.intro-text p {
  line-height: 1.6;
  /* color: #505050; */
}

.intro-text a {
  font-weight: bold;
}

.shout {
  position: relative;
  padding: 25px 0;
  font-size: 22px;
  font-style: italic;
  text-align: center;
}

.shout::before {
content: '';
position: absolute;
width: 100%;
top: 0;
left: 0;
height: 3px;
background: linear-gradient(to right, transparent 1%,#d4d4d4 51%, transparent 100%);
}

.shout::after {
  content: '';
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  height: 3px;
  background: linear-gradient(to right, transparent 1%,#d4d4d4 51%, transparent 100%);
  }

  .shout blockquote {
    margin: 0;
    padding: 0 124px;
    position: relative;

  }

  .shout blockquote::before,
  .shout blockquote::after {
    content:'';
    position: absolute;
    width:34px;
    height: 63px;
    top: 50%;
    transform: translateY(-50%);
  }

  .shout blockquote::before {
    left: 30px;
    background: url(../Image/left.png) no-repeat
  }

  .shout blockquote::after {
    right: 30px;
    background: url(../Image/right.png) no-repeat
  }