@font-face {
    font-family: 'Lato';
    src: url('../../fonts/Lato-Regular.woff2') format('woff2'),
        url('../../fonts/Lato-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../../fonts/OpenSans-Italic.woff2') format('woff2'),
        url('../../fonts/OpenSans-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../../fonts/OpenSans-Regular.woff2') format('woff2'),
        url('../../fonts/OpenSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Yeseva One';
    src: url('../../fonts/YesevaOne-Regular.woff2') format('woff2'),
        url('../../fonts/YesevaOne-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FontAwesome';
    src: url('../../fonts/FontAwesome.woff2') format('woff2'),
        url('../../fonts/FontAwesome.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../../fonts/OpenSans-Bold.woff2') format('woff2'),
        url('../../fonts/OpenSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Gentium Book Basic';
    src: url('../../fonts/GentiumBookBasic-Bold.woff2') format('woff2'),
        url('../../fonts/GentiumBookBasic-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

