.pricing {
    text-align: center;
    
    .section-title {
        margin-bottom: 40px;

        @include screen(md) {
            margin-bottom: 55px;
        }
        @include screen(lg) {
            margin-bottom: 65px;
        }
    }


    &__item {
        border: 1px solid #e1e1e1;
        border-radius: 4px;
        box-shadow: inset 0 0 0 1px #edf0f0;
        padding-left: 0;
        padding-right: 0;  
        margin-bottom: 20px;
        

        &:hover {
            box-shadow: 0 0 7px 4px #acaaaa; 
            .pricing__item-header {
                color: $color-custom;
            }
            .pricing__item-header::before,
            .pricing__item-price,
            .btn_primary {
                background: $color-custom;
                color: $color-btn;
            }
        }

        &-header,
        &-price,
        li {
            border-bottom: 1px solid #e1e1e1;
            box-shadow: inset 0 0 0 1px #edf0f0;
        }

        &-header {
            position: relative;
            padding-top: 25px;
            padding-bottom: 19px;
            font-size: 22px;
            font-weight: bold;
            color: $color-title-small;
            text-transform: uppercase;
            transition: .3s;
            letter-spacing: -2px;
            overflow: hidden;

            &-offer {

            &::before {
                content: 'OFFER';
                font-size: 13px;
                text-align: center;
                color: $color-btn;
                font-weight: 300;
                position: absolute;
                top: 21%;
                right: -42%;
                width: 100%;
                height: 16px;
                background: #2e4a5b;
                transform: rotate(45deg);
                letter-spacing: -1px;
                }
            }
        }

        li {
            padding-top: 22px;
            padding-bottom: 15px;
            font-size: 14px;
            font-weight: normal;
            color: #666;
        }
        
        &-price {
            padding-top: 35px;
            padding-bottom: 35px;
            font-weight: bold;
            font-size: 39px;
            color: $color-btn;
            background: #2e4a5b;
            transition: .3s;

            span {
                font-size: 14px;
                font-weight: 300;
            }
        }

        .btn_primary {
            background: #2e4a5b;
            margin: 25px auto 25px;
            transition: .3s;
        }

    }
}