.purchase-bottom {
    font-family: $font-base;
    background: url(../images/bg-pur.jpg) center/cover no-repeat;
    padding-bottom: 0;

    .btn {
        &:hover {
            background: darken($color-custom, 10%);
        }
    } 

    &_item {
        display: flex;
        flex-direction: column;
        padding-left: 0;
    

    @include screen(lg) {
        flex-direction: row-reverse;
        justify-content: center;
    }
}
    
    &__img {

        @include screen(lg) {
            margin-top: auto;
            margin-right: auto;
            width: 50%
        }
        img {
            width: 100%;
        }
    }

    h1 {
        max-width: 1170px;
        font-size: 30px;
        font-weight: bold;
        color: $color-btn;
        margin: 0 auto 80px;
        text-align: center;
        text-transform: uppercase;

        @include screen(md) {
            font-size: 50px;
         }

        @include screen(lg) {
            font-size: 50px;
         }

        span {
            font-weight: normal;
            color: $color-custom
        }


    }

    &_list {
        display: block;
        padding-left: 20px;
        margin-bottom: 50px;

        @include screen(lg) {
           width: 50%;
           margin-right: auto;
           margin-top: 60px;
        }

        ul {
            margin-bottom: 40px;

            @include screen(md) {
                margin-bottom: 55px;
             }
             @include screen(lg) {
                margin-bottom: 70px;
             }
        }
    
         li {
        position: relative;
        padding-left: 40px;
        margin-bottom: 10px;
        font-size: 14px;
        color: $color-btn;
        line-height: 1.7;
        
        &::before {
        content: '';
        position: absolute;
        width: 26px;
        height: 26px;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        background: url(../images/icon-about-list.png) no-repeat;
        }
    }
    }
}
