.services {
    font-family: $font-base;

    .section-title {
        margin-bottom: 40px;
        
        @include screen (md) {
            margin-bottom: 55px;
        }

        @include screen (lg) {
            margin-bottom: 70px;
        }
    }

    &__item {

        &-tabset {
            display: flex;
           flex-wrap: wrap; // flex-direction: column;
            justify-content: center;
            align-items: center;  

            @include screen(xl) {
                flex-wrap: nowrap; 
            }

            li {
                position: relative;
                margin-bottom: 25px;
                width: 25%;
                text-align: center;
                border: 1px solid $border-color;
                transition: .2s;

                &::before {
                    content: '';
                    position: absolute;
                    display: none;
                    top: 100%;
                    left: 50%;
                    transform: translateX(-50%);
                    width: 0;
                    height: 0;
                    border-style: solid;
                    border-width: 10px 10px 0 10px;
                    border-color: #00cc99 transparent transparent transparent;
                    transition: .2s;
                }

                &:hover {
                    background: $color-custom;
                    border-color: $color-custom;

                    a {
                        color: #fff;
                    }

                    &::before {
                        display: block;
                    }
                }
            }
        }

        &-img {
            width: 90%;
            margin: 0 auto 20px;

            @include screen(lg) {
            width: 200%;
            margin: 0;
            } 

            @include screen(xl) {
                width: 100%;
            } 

            img {
                width: 100%;
            }
        }

        &-text {
            padding-left: 20px;
            text-align: center;

            @include screen(lg) {
                text-align: left;
            } 
        }

    }

    .service-tab {
        width: 100%;
        display: flex;
        flex-direction: column;
        outline: 0;

        @include screen(lg) {
            flex-direction: row;
        } 
    }

    a {
        font-size: 14px;
        color: $color-title-small;
        text-transform: capitalize;
        transition: .2s;
        padding: 10px 20px;
        font-size: 12px;

        @include screen(md) {
            padding: 15px 25px;
            font-size: 15px;
        } 
        @include screen(lg) {
            padding: 25px 23px;
            font-size: 16px;
        } 
    }
}