.pricing {

    &-content {
        padding-top: 75px;
    }

    &-table {
        justify-content: center;
        align-items: center;
    }

    &__inner {
        max-width: 350px;
        &:not(:last-child) {
            margin-bottom: 30px;
        }
        @include screen (md) {
            padding-left: 0;
            padding-right: 0;

            &:nth-child(3) {
                margin-bottom: 0;
            }
        }
        @include screen (lg) {
            &:nth-child(2),
            &:nth-child(1) {
            margin-bottom: 0;
            }
        } 
    }

    &__item {
        border-radius: 4px;
        background: #f8fcfe;
        border: 1px solid #e9ebeb;
        text-align: center;

        &-title {
            padding-top:10px;
            padding-bottom: 10px; 
            font-size: 16px;
            color: #717171;
            text-transform: uppercase;

            @include screen (md) {
                padding-top:15px;
                padding-bottom: 15px;
                font-size: 20px;  
            }
            @include screen (lg) {
                padding-top:20px;
                padding-bottom: 20px;
                font-size: 24px;    
            }
        }

        &-cost{
            background: #2e4a5b;
            padding-top: 15px;
            padding-bottom: 15px;
            color: #fff;
            font-weight: bold;
            font-size: 22px;

            @include screen (md) {
                padding-top: 22px;
                padding-bottom: 22px;
                font-size: 30px;
            }
            @include screen (lg) {
                padding-top: 30px;
                padding-bottom: 30px;  
                font-size: 39px;        
            } 

            span {
                font-weight: 300;
                font-size: 12px;

                @include screen (md) {
                    font-size: 14px;  
                }   
            }
        }

        &-list {
            &-item {
                padding-top: 10px;
                padding-bottom: 10px;
                border-bottom:  1px solid #e9ebeb;
                text-transform: capitalize;
                font-size: 12px;
                color: #777;

                @include screen (md) {
                    padding-top: 20px;
                    padding-bottom: 15px;
                    font-size: 14px;
                }
            }
        }
        &-button {
            padding-top: 12px;
            padding-bottom: 15px;

            @include screen (md) {
                padding-top: 22px;
                padding-bottom: 25px;
            }
        }
    }
    &__btn {
        background: #2e4a5b;
        width: 140px;
        outline: none;

        @include screen (md) {
            width: 170px;          
        }

        &:hover {
            background: lighten(#2e4a5b, 30%);
        }
    }
}

.active {
    .pricing__item {
        position: relative;
        z-index: 3;
        border: 0;
        box-shadow: 0 0 10px 0 rgba(0,0,0,0.3);

       &::after {
           content: '';
           position: absolute;
           top:-2px;
           right: -2px;
           width: 42px;
           height: 41px;
           background: url(../../img/pricing-decoration.png) center/cover no-repeat;

           @include screen (md) {
            width: 52px;
            height: 51px;
           }
           @include screen (lg) {
            width: 62px;
            height: 61px;
           }
       }
    }
    .pricing__item-title{
        color: $color-green;
    }
    .pricing__item-cost,
    .pricing__btn {
        background: $color-green;
    }
   }