.about {
    background: url(../images/apple-bg.jpg)center/cover no-repeat;

    .container {
      @include screen(md) {
        margin: 0;
        max-width: 360px;
      }
      @include screen(lg) {
        max-width: 480px;
      }
      @include screen(xl) {
        max-width: 570px;
      }
    }

    &__inner {
        text-align: center;
        padding-top: 50px;
        padding-bottom: 50px;

        @include screen(md) {
            padding-top: 100px;
            display: flex;
            align-items: center;
            padding-bottom: 0;
        }
        &-img {

          margin-bottom: 40px;

            @include screen(md) {
                margin-bottom: 0;
                width: 50%;
               
             
            }

            @include screen(xl) {
              margin-top: auto;
            }
            & img {
              width: 100%;
            }
        }
        &-company {
          @include screen(lg) {
            text-align: left;
          }
        }

        }
    &-title {
      color: #fff;
      margin-bottom: 80px;
      @include screen(lg) {
        text-align: left;

        &::before {
          left: 33%;
        }
        &::after {
            left: calc(33% + 13px);
          }
      }

    }
  }
 
  .tabset {
    display: flex;
    align-items: center;
    justify-content: center;

    @include screen(lg) {
      justify-content: end;
    }
    

    & li {
      margin-bottom: 30px;

      @include screen(lg) {
        margin-bottom: 60px;
      }

  
    & a {
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    margin: 0 8px;
    padding-top: 10px;
    transition: 0.4s;

    @include screen(lg) {
      font-size: 16px;
      
    }
    &.active {
      color: $color-second;
      border-top: 2px solid $color-second;
    }
      

    &:hover {
      border-top: 2px solid $color-second;
      color: $color-second;
    }


  }
}
  }
  .tab-text {
    font-weight: 300;
    color: #bebebe;
    padding: 0 10px;
    margin-bottom: 20px;

    @include screen(lg) {
      margin-bottom: 50px;
    }

    &-inner {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      margin-bottom: 15px;

      @include screen(md) {
        margin-right: 60px;
      }
      @include screen(lg) {
        margin-right: 0;
        margin-left: 5px;
      }
      @include screen(xl) {
        margin-left: 10px;
      }

     
      
      & img {
        margin-right: 15px;
        
      }

      &-text {
        font-weight: 300;
        color: #bebebe;
        @include screen(lg) {
          font-size: 12px;
        }
        @include screen(xl) {
          font-size: 14px;
        }
      }


    }

    &-head {
      @include screen(lg) {
       display: flex;
        
      }

      &-first {
        @include screen(lg) {
          display: flex;
          flex-wrap: wrap;
        }
      }
      &-second {
        @include screen(lg) {
          display: flex;
          flex-wrap: wrap;
        }
      }
    }

  }


.progress-list {
    max-width: 555px;
  
    li {
      position: relative;
      margin: 14px auto;
      padding: 14px 16px;
      border: 1px solid #959595;
      border-radius: 3px;
      text-align: left;
      font-size: 13px;
      text-transform: uppercase;
      font-weight: 600;
      width: 250px;

      @include screen(md) {
        margin: 14px;
        width: 300px;
      }
  
      &:nth-child(1) {
        .progress-list__line {
          animation: 0.5s progress-first forwards;
          background: #9c5da5;
        }
      }
      &:nth-child(2) {
        .progress-list__line {
          animation: 0.5s progress-second forwards;
          background: #11b0de;
        }
      }
      &:nth-child(3) {
        .progress-list__line {
          animation: 0.5s progress-third forwards;
          background: #d67f7f;
        }
      }
      &:nth-child(4) {
        .progress-list__line {
          animation: 0.5s progress-fourth forwards;
          background: #20bc9d;
        }
      }
      &:nth-child(5) {
        .progress-list__line {
          animation: 0.5s progress-fifth forwards;
          background: #bb8a36;
        }
      }
    }
  
    &__text {
      position: relative;
      z-index: 2;
    }
  
    &__line {
      position: absolute;
      top: -1px;
      left: -1px;
      bottom: -1px;
      border-radius: 3px;
    }
  }
  
  
  
  @keyframes progress-first {
     @include progress-animation(72%);
   }
  
   @keyframes progress-second {
     @include progress-animation(85%);
   }
  
   @keyframes progress-third {
     @include progress-animation(67%);
   }
  
   @keyframes progress-fourth {
     @include progress-animation(90%);
   }
  
   @keyframes progress-fifth {
     @include progress-animation(84%);
  }