.header {
   background: url(../images/header-bg.jpg)center/cover no-repeat;

   &__inner {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    padding: 25px 0;
    background: rgba(73,71,63,0.6);
    color: #b8b8b8;
    text-transform: uppercase;
    font: bold 13px/1.15 $font-base;

    @include screen(lg) {
        background: linear-gradient(to bottom, rgba(73,71,63,0.55), rgba(73,71,63,0));
        padding: 0;
      }
    }
    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
}

.logo {
    display: inline-block;
    transition: max-width 0.3s;
    max-width: 50%;

    @include screen(md) {
        max-width: 75%;
    }
    @include screen(lg) {
        max-width: 100%;
    }

  }
  .navigation {
    display: none;
    position: absolute;
    top: 100%;
    left: 50%;
    width: 50%;
    background: rgba(73,71,63,0.6);
    text-align: center;
    text-transform: uppercase;
    z-index: 2;

    &.open {
        display: block;
        opacity: 1;
    }
  
    @include screen(lg) {
      display: block !important;
      width: auto;
      position: static;
      background: transparent;
      margin-left: auto;
    }
  
    &__list {
      @include screen(lg) {
        display: flex;
        align-items: center;
        justify-content: flex-end;
      }
    }
  
    &__item {
      a {
        position: relative;
        display: block;
        padding: 15px 10px;
        transition: 0.3s;
  
        @include screen(lg) {
          padding: 54px 0; 
          border-bottom: 2px solid transparent;
          margin-right: 13px;
        }
  
        &:hover {
          background: $color-second;
          color: #fff;

          @include screen(lg) {
            border-bottom-color: $color-second;
            color: $color-second;
            background: none;
          }
        }
      }
    }
  }


   
 
//   hamburger

.hamburger {
    position: absolute;
    z-index: 1;
    top: 33%;
    right: 15%;
    padding: 15px 15px;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition-property: opacity, filter;
    transition-duration: 0.15s;
    transition-timing-function: linear;
    font: inherit;
    color: inherit;
    text-transform: none;
    background-color: #202529;
    border: 0;
    margin: 0;
    overflow: visible;
  
 
  
  @include screen(lg)  {
    & {
      display: none;
    }
  }
  &:hover {
    opacity: 0.7;
  }
  &.is-active:hover {
    opacity: 0.7;
  }
  &.is-active .hamburger-inner,
  &.is-active .hamburger-inner::before,
  &.is-active .hamburger-inner::after {
    background-color: #fff;
  }



&-box {
  width: 20px;
  height: 10px;
  display: inline-block;
  position: relative; 
    display: block;
    top: 50%;
    margin-top: -2px;
  }
    &-inner,
    &-inner::before,
    &-inner::after {
      width: 25px;
      height: 2px;
      background-color: #fff;
      border-radius: 4px;
      position: absolute;
      transition-property: transform;
      transition-duration: 0.15s;
      transition-timing-function: ease;
    }
      &-inner::before,
      &-inner::after {
        content: "";
        display: block; }
      &-inner::before {
        top: -5px; }
      &-inner::after {
        bottom: -5px; }
    
        @include screen(md)  {
        &-inner::before {
          top: -8px; }
        &-inner::after {
          bottom: -8px; }
      }

      &--spring .hamburger-inner {
        top: -5px;
        left: -2px;
        transition: background-color 0s 0.13s linear; }
        &--spring .hamburger-inner::before {
          top: 10px;
          transition: top 0.1s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19); }
        &--spring .hamburger-inner::after {
          top: 20px;
          transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19); }
      
      &--spring.is-active .hamburger-inner {
        transition-delay: 0.22s;
        background-color: transparent !important; }
        &--spring.is-active .hamburger-inner::before {
          top: 0;
          transition: top 0.1s 0.15s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
          transform: translate3d(0, 10px, 0) rotate(45deg); }
        &--spring.is-active .hamburger-inner::after {
          top: 0;
          transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
          transform: translate3d(0, 10px, 0) rotate(-45deg); }
        }
        .search {
          position: relative;
          margin: auto -15px;

          @include screen(md) {
            margin-left: 20px;
          }
        }
        .search {
        
        &-open {
          padding: 5px 10px;
          border: 0;
          background: transparent;
          color: inherit;
          font-weight: 600;
          font-size: 25px;
          cursor: pointer;
          outline: 0;
        }
        
        &-form {
          display: none;
          position: absolute;
          right: 15px;
          top: 180%;
          border: none;
          outline: none;
         

          @include screen(md) {
            top: 200%;
          }
        }
        
        &-form.open {
          display: block;
        }
        
        &-form input {
          padding: 20px 50px 20px 10px;
          width: 250px;
          outline: none;
          border: none;

        }
        &-form-inner {
          position: relative;

          &::before {
            content: '\e800';
            position: absolute;
            font-family: 'Fontello';
            top: 50%;
            right: -6%;
            transform: translate(-50%,-50%);
            background: $color-second;
            padding: 10px;
            color: #fff;
            font-size: 20px; 
          }
        }
      }
      