html {
    box-sizing: border-box;
}

*, *::after, *::before {
    box-sizing: inherit
}

body {
    margin: 0;
  }

a {
    text-decoration: none;
    color:inherit;
}

p {  
    margin: 0;
}

h1, h2, h3, h4, h5 {
    margin: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.white-title {
    position: relative;
    font-family: $title-font;
    font-weight: normal;
    font-style: normal;
    text-align: center;
}

.white-title::after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 232px;
    height: 43px;
    background: url(../../images/decoration-header.png) center/cover no-repeat;
}


