@font-face {
    font-family: 'Lato';
    src: url('..//fonts/Lato-Bold.woff2') format('woff2'),
        url('..//fonts/Lato-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('..//fonts/Lato-Regular.woff2') format('woff2'),
        url('..//fonts/Lato-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('..//fonts/Lato-Light.woff2') format('woff2'),
        url('..//fonts/Lato-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('..//fonts/Lato-Italic.woff2') format('woff2'),
        url('..//fonts/Lato-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    font: 14px 'Lato', sans-serif;
    color: #444;
}

/* HEADER */

.header {
    margin: 0 auto;
    width: 920px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 0;
}

.header img {
    display: block; /* убирает отступ внизу картинки */
}

.header a {
    text-decoration: none;
}

.logo {
    display: flex;
    align-items: center;
    color: #444;
}

.logo-bold {
    font: bold 20px 'Lato', sans-serif;
    text-transform: uppercase;
    margin: 0;
    padding-left: 13px;
}

.logo-regular {
    font: 14px 'Lato', sans-serif;
    margin: 0;
    padding-left: 13px;
}

.nav a {
    color: #444;
    text-transform: uppercase;
    padding: 10px 13px;
}

.nav ul li {
    display: inline-block; /* ставит список в ряд */
}

.nav a:hover {
    color: #fff;
    background: #1bbc9b;
    transition: 0.2s;
}

/* HOME PAGE */

.home {
    display: flex; /* выравнивание элемента по середине по вертикали */
    align-items: center;
    background: url(..//img/bg-home.png) center/cover no-repeat;
    height: 90vh;
}

.home-page {
    width: 575px;
    margin: 0 auto;
    text-align: center;
    color: #fff;
    font: 300 18px/24px 'Lato', sans-serif;
}

.home-page h1 {
    font: 300 55px/55px 'Lato', sans-serif;
    margin: 0;
    padding: 0;
}

.home-page h1 span {
    font-weight: bold;
}

.home-page p {
    padding-top: 35px;
    margin: 0;
}

.home-page a {
    text-decoration: none;
}

.home-page .button {
    display: block;
    margin: 50px auto 0 auto;
    padding: 8px 10px;
    font: bold 13px 'Lato', sans-serif;
    color: #fff;
    background: #1bbc9b;
    text-transform: uppercase;
    border: none;
    outline: none;
    cursor: pointer;
    width: 125px;
}

.home-page .button:hover {
    background: #16a086;
}

.home-page img {
    width: 45px;
    display: block;
    margin: 40px auto 0 auto;
    cursor: pointer;
}

/* PORTFOLIO PAGE */

.portfolio-page {
    height: 100vh;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 16px;
}

.portfolio-page h2 {
    font: 28px 'Lato', sans-serif;
    margin: 0 auto;
}

.portfolio-page p {
    margin: 0 auto;
    padding-top: 17px;
}

.portfolio-nav {
    padding: 30px 0 0 0;
    text-align: center;
}

.portfolio-nav a {
    font: bold 13px 'Lato', sans-serif;
    text-transform: uppercase;
    padding: 10px 13px;
    color: #fff;
    background: #1bbc9b;
    text-decoration: none;
}

.portfolio-nav li:not(:last-child) {
    padding-right: 15px;
}

.portfolio-nav li {
    display: inline-block; /* ставит список в ряд */
}

.portfolio-nav a:hover {
    transition: 0.2s;
    background: #16a086;
}

ul.portfolio-nav li.active a, /* как работает логика этой связки? */
ul.portfolio-nav a.active {
    background: #16a086;
}

.img-block-all {
    width: 860px;
    padding: 0;
    margin: 0 auto;
}

.img-block-all  li,
.img-block  li {
    display: inline-block;
    margin: 0 auto;
    position: relative; /* определяет координаты для .dropdown-portfolio-img1 absolute */
}

.img-block {
    margin: 0 auto;
    text-align: center;
    padding: 0;
}

.img-block-all img,
.img-block img {
    padding: 17px 17px;
}

.dropdown-portfolio-img1,
.dropdown-portfolio-img2 {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    height: 180px;
    border-radius: 50%;
    margin: 17px;
    background: #16a086;
    opacity: 0.8;
    padding: 0;
}

.dropdown-portfolio-img1 { /* у разных кругов разная ширина (т.е эллипсы) */
    width: 170px;
}

.dropdown-portfolio-img2 {
    width: 178px;
}

.img-block-all li:hover .dropdown-portfolio-img1,
.img-block-all li:hover .dropdown-portfolio-img2  {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    text-align: center;
}
.img-block li:hover .dropdown-portfolio-img1,
.img-block li:hover .dropdown-portfolio-img2  {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    text-align: center;
}

.dropdown-portfolio-img1 img,
.dropdown-portfolio-img2 img {
    display: block;
    width: 45px;
    padding: 10px;
    margin: 0;
    background: #497169;
    border-radius: 50%;
}

.title {
    font-size: 18px; 
    color: #fff;
    padding-top: 15px;
}

.title-web {
    font-size: 14px; 
    color: #fff;
    padding-top: 10px;
}

/* ABOUT US PAGE */

.about-us {
    background: #16a086;
    height: 100vh;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
}

.about-us h2 {
    font-size: 28px;
    margin: 0 auto;
}

.about-us p {
    margin: 0 auto;
    padding: 15px 0 30px 0;
}

.profiles {
    display: flex;
    justify-content: space-between;
    width: 780px;
    margin: 0 auto;
}

.team {
    width: 220px;
    background: #fff;
    position: relative;
    color: #444;
}

.team h2 {
    font-size: 18px;
    text-align: center;
    margin: 0;
    padding-top: 15px;
}

.team h3 {
    font: italic 14px 'Lato', sans-serif;
    text-align: center;
    margin: 0;
    padding-top: 5px;
}

.team p {
    text-align: left;
    padding: 20px;
}

.dropdown {
    display: none;
    position: absolute;
    top: 95px;
    left: 20px;
    width: 180px;
    padding: 0;
    background: #16a086;
    opacity: 0.8;
    list-style: none;
}

.team:hover .dropdown {
    display: flex;
}

.dropdown img {
    display: block;
    width: 45px;
    padding: 9px;
    margin: 0;
}

.dropdown img:hover {
    background: #1bbc9b;
}

/* CONTACT US PAGE */

.contacts {
    background: #ecf0f1;
    height: 91vh;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.contacts h2 {
    font: 28px 'Lato', sans-serif;
    margin: 0 auto;
}

.contacts p {
    margin: 0 auto;
    padding-top: 17px;
}

.contacts-inner {
    display: flex;
    padding-top: 50px;
    width: 940px;
    margin: 0 auto;
    text-align: center;
}

form div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 460px;
}

.contacts input,
.contacts textarea {
    border: 2px solid #bec3c7;
    font: italic 14px/1.15 'Lato', sans-serif;
    padding: 15px 0 15px 15px;
}

.contacts input {
    width: 220px;
}

.contacts textarea {
    display: block;
    width: 460px;
    height: 153px;
    margin: 22px 0 23px 0;
    resize: none;
}

.contacts button {
    font: bold 13px 'Lato', sans-serif;
    float: right;
    text-transform: uppercase;
    color: #fff;
    background: #1bbc9b;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 8px 30px;
}

.contacts button:hover {
    transition: 0.2s;
    background: #16a086;
}

.info h2 {
    font-size: 14px;
    text-align: left;
    padding: 0 0 0 20px;
    margin: 0;
}

.info p {
    line-height: 24px;
    text-align: left;
    padding-left: 30px;
}

.location {
    position: relative;
}

.location::before {
    content: url(..//img/location.svg);
    position: absolute;
    width: 13px;
    left: 15px;
    top: 18px;
}

.phone {
    position: relative;
}

.phone::before {
    content: url(..//img/phone.svg);
    position: absolute;
    width: 13px;
    left: 15px;
    top: 18px;
}

.fax {
    position: relative;
}

.fax::before {
    content: url(..//img/fax.svg);
    position: absolute;
    width: 13px;
    height: 13px;
    left: 15px;
    top: 18px;
}

.email {
    position: relative;
}

.email::before {
    content: url(..//img/email.svg);
    position: absolute;
    width: 13px;
    left: 15px;
    top: 18px;
}

footer {
    background: #2d3e50;
    color: #bec3c7;
    padding: 35px 0;
}

footer p {
    margin: 0 auto;
    width: 940px;
}

/* back-to-top button */

.back-to-top {
    position: fixed;
    bottom: 20px;
    right: 50px;
    width: 44px;
    height: 44px;
    background: #1bbc9b;
    display: none; /* чтобы кнопка не отображалась, когда юзер на верху страницы */
}

.back-to-top img {
    width: 20px;
    margin: 12px 12px;
}

.back-to-top:hover {
    transition: 0.2s;
    background: #16a086;
}

