 /* @font-face {
    font-family: 'slick';
    src: url('../fonts/slick.woff') format('woff2'),
        url('../fonts/slick.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}  */


*, *::after, *::before {
    box-sizing: inherit
}

html {
    box-sizing: border-box;
}


body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background: gray;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding-top: 25px;
    text-align: center;
}

img {
    width: 100%;
    vertical-align: top;   
}