html {
  box-sizing: border-box;
}

*, *::before, *::after{
box-sizing: inherit;
}

body {
margin: 0;
padding:0;
font: 12px Arial, Helvetica, sans-serif;
}

img {
  vertical-align: top;  
}

.wrapper {
  width: 700px;
  margin-left: auto;
  margin-right: auto;
}

.header {
background: #2ca009;
padding: 37px;
}

.main {
  display:table;
}

.navigation,
 .navigation2 {
  display: table-cell;
  background: #e0d7d7;
  width: 173px;
  padding: 33px 23px;
  /* float: left; */
}

.navigation ul,
 .navigation2 ul {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 15px;
  line-height: 2;
}

.navigation a,
 .navigation2 ul {
  color: #001cc4;
  text-decoration: none;
}

.navigation a:hover,
.navigation2 a:hover{
  text-decoration: underline;
}
.content {
  padding: 20px 45px 85px 50px;
  overflow: hidden;
  display: table-cell;
}

.content h1 {
  font-size: 24px;
  color: #999999;
  margin-bottom: 35px;
  line-height: 1.25;
}

.content p {
  margin: 15px 0;
}

.footer {
  padding: 22px 50px 35px;
  background: url(../Images/bg-footer.jpg) no-repeat;
  background-size: cover;
}

.footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

.footer li {
display: inline-block;
}

.footer a:not(:last-child) {
  margin-right: 10px;
}

.footer li {
  color: #000000;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}
