@font-face {
    font-family: 'Bebas Neue';
    src: url('../fonts/BebasNeueBold.woff2') format('woff2'),
        url('../fonts/BebasNeueBold.woff') format('woff');
    font-weight: bold;
    font-style: bold;
} */

*, *::after, *::before {
    box-sizing: inherit
}

html {
    box-sizing: border-box;
    /* background: url(../images/background-color.jpg) */
}

body {
    background-image: url(../images/background-2images.jpg);
    background-size: cover;
    background-attachment:fixed;
}

select {
    background: orange;
}

form {
    text-align: center;
}

.form-area {
    width: 450px;
    margin: 40px auto;
    background: #fff;
    position: relative;
    padding: 25px 38px 20px 40px;
}

.check-box,
.radio {
    padding: 0 38px 0 40px;
}

.form-area div {
    margin-bottom: 20px;
}

.form-area h2 {
    font-family: 'Bebas Neue';
    font-weight: bold;
    font-size: 42px;
    line-height: 0.5;
    text-align: center;
}

.input-text input:focus,
.message textarea:focus {
    background: rgb(230, 214, 185);
}

.input-text input {
    background: #f9f6f0;
    border: none;
    border-radius: 3px;
    padding: 14px 0 14px 20px;
    width: 360px;
    outline-color:#eca22e;
}

.form-area textarea {
    resize: none;
    background: #f9f6f0;
    border: none;
    border-radius: 3px;
    padding-left: 20px;
    padding-top: 15px;
    outline-color: #eca22e;
}

.button {
    text-align: center;
}

.button  {
    width: 230px;
    height: 50px;
    text-align: center;
    background:  #eca22e;
    color: #fff;
    border: none;
    border-radius: 3px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.3;
    outline: none;
}

.button:hover {
    background: #fff;
    color: #eca22e;
    border: 1px solid #eca22e;
}

.input-text input::placeholder,
.message textarea::placeholder,
.input-text input,
.message textarea
 {
    color:#a09f9c;
    font-size: 16px;
    font-weight: 400;
    font-style: italic;
    line-height: 1.4;
    font-family: 'Roboto', sans-serif;
}

.check-box {
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    margin-top: 35px;
}

.check-box div {
    width: 170px;
    position: relative;
    margin-bottom: 30px;
}

.check-box::after {
    content: '';
    border-bottom: 1px solid #f9f6f0;
    width: 363px;
    height: 5px;
    right: 30px;
}

input[type=checkbox] + label  {
    width: 100%;
	height: 100%;
    background: url(../images/cb.png);
    background-repeat: no-repeat;
    padding: 5px 10px 10px 45px;
    margin-bottom: 15px;
}

input[type=checkbox]:checked + label {
    background: url(../images/cb-checked.png);
    background-repeat: no-repeat;
} 

.radio {
    display: flex;
    padding-bottom: 15px;
}
.radio-one{
   float: left;
   width: 170px;
   text-align: left;
}

.radio-two {
    float: right;
    width: 170px;
    text-align: left;
}

.radio label,
.check-box label {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #18191a;
    font-size: 16px;
    line-height: 1.4;
}

.radio input,
.check-box input {
    opacity: 0;
    display: none;
}

input[type=radio] + label  {
    width: 100%;
	height: 100%;
    background: url(../images/radio.png);
    background-repeat: no-repeat;
    margin: 0 20px 0 0;
    padding: 3px 10px 10px 35px;
}

input[type=radio]:checked + label {
    width: 100%;
	height: 100%;
    background: url(../images/radio-checked.png);
    background-repeat: no-repeat;
  } 

  /* Chenges in jsf.css document */

.jcf-select .jcf-select-text {
    color: #a09f9c;
    font-size: 16px;
    line-height: 1.4;
    font-weight: 400;
    font-style: italic;
    font-family: 'Roboto', sans-serif;
    text-align: left;
    background: #f9f6f0;
    border: none; 
    border-radius: 3px;
}

.jcf-select {
    display: inline-block;
    vertical-align: top;
    position: relative;
    background: #f9f6f0;
    border-radius: 3px;
    margin: 0 0 12px;
    width: 360px;
    border: none;
    padding: 15px 0 15px 20px;
}

.jcf-select .jcf-select-opener {
    position: absolute;
    text-align: center;
    background: #f9f6f0;
    width: 45px;
    bottom: 0;
    right: 0;
    top: 0;
    border: none; 
}

.jcf-select .jcf-select-opener::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 7px 6px 0 6px;
    border-color: #838280 transparent transparent transparent;
}

.jcf-select-drop .jcf-hover, .jcf-list-box .jcf-selected {
    background: rgb(230, 214, 185);
    color: black;
}

.jcf-list {
    display: inline-block;
    vertical-align: top;
    position: relative;
    background: #f9f6f0;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4;
    font-family: 'Roboto', sans-serif;
}

.jcf-list .jcf-option {
    white-space: nowrap;
    overflow: hidden;
    cursor: default;
    display: block;
    padding: 5px 20px;
    color: #90908e;
    min-height: 14px;
    height: 1%;
}

.jcf-select-drop .jcf-select-drop-content {
    border: none;
}