@charset 'UTF-8';
/* Slider */
.slick-loading .slick-list
{
    background: #fff url('../img/ajax-loader.gif') center center no-repeat;
}

/* Icons */
@font-face
{
    font-family: 'slick';
    font-weight: normal;
    font-style: normal;

    src: url('../fonts/slick.eot');
    src: url('../fonts/slick.eot?#iefix') format('embedded-opentype'), url('../fonts/slick.woff') format('woff'), url('../fonts/slick.ttf') format('truetype'), url('../fonts/slick.svg#slick') format('svg');
}
/* Arrows for Slider 1 */
.slider1 .slick-prev,
.slider1 .slick-next
{
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: block;
    width: 78px;
    height: 78px;
    padding: 0;
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: transparent;
    transition: 0.3s;
}
.slider1 .slick-prev:hover,
.slider1 .slick-next:hover
{
    color: transparent;
    outline: none;
    opacity: 0.5;
}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before
{
    opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before
{
    opacity: .25;
}

.slider1 .slick-prev:before,
.slider1 .slick-next:before
{
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;

    opacity: .75;
    color: white;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slider1 .slick-prev
{
    left: 0;
    z-index: 1000;
    background: url(../img/1-arrow-prev.png) no-repeat;
}

.slider1 .slick-next
{
    right: 0;
    background: url(../img/1-arrow-next.png) no-repeat;
}


/* Arrows for Slider 2*/
.slider2 .slick-prev,
.slider2 .slick-next
{
    font-size: 0;
    line-height: 0;

    position: absolute;
    bottom: -21px;

    display: block;

    width: 41px;
    height: 43px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);

    cursor: pointer;

    color: transparent;
    border: none;
    outline: none;
    background: #848484;
}
.slider2 .slick-prev:hover,
.slider2 .slick-prev:focus,
.slider2 .slick-next:hover,
.slider2 .slick-next:focus
{
    color: transparent;
    outline: none;
    background: #707070;
}
.slider2 .slick-prev:hover:before,
.slider2 .slick-prev:focus:before,
.slider2 .slick-next:hover:before,
.slider2 .slick-next:focus:before
{
    opacity: 1;
}
.slider2 .slick-prev.slick-disabled:before,
.slider2 .slick-next.slick-disabled:before
{
    opacity: .25;
}

.slider2 .slick-prev:before,
.slider2 .slick-next:before
{
    font-family: 'fontello';
    font-size: 20px;
    line-height: 1;

    opacity: .75;
    color: white;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slider2 .slick-prev
{
    right: 41px;
    z-index: 1;
}
[dir='rtl'] .slider2 .slick-prev
{
    right: -25px;
    left: auto;
}
.slider2 .slick-prev:before
{
    content: '\f007';
}
[dir='rtl'] .slider2 .slick-prev:before
{
    content: '\f007';
}

.slider2 .slick-next
{
    right: 0px;
}
[dir='rtl'] .slider2 .slick-next
{
    right: auto;
    left: -25px;
}
.slider2 .slick-next:before
{
    content: '\f006';
}
[dir='rtl'] .slider2 .slick-next:before
{
    content: '\f006';
}

/* Dots */
.slick-dotted.slick-slider
{
    margin-bottom: 30px;
}

.slick-dots
{
    background: #93182f;
    position: absolute;
    bottom: -54px;

    display: block;

    width: 100%;
    padding: 8px 47px;
    margin: 0;

    list-style: none;

    text-align: center;
}
.slick-dots li
{
    position: relative;

    display: inline-block;
    margin: 0 8px;
    padding: 0;

    cursor: pointer;
}
.slick-dots li button
{
    font-size: 16px;

    display: block;
    padding: 0 5px;

    cursor: pointer;

    color: #fff;
    border: 0;
    outline: none;
    background: transparent;
}

.slick-dots li.slick-active button {
    color: #ffa205;
}

.slick-dots li button:hover,
.slick-dots li button:focus
{
    outline: none;
    color: #ffa205;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{
    opacity: 1;
}

.slick-dots li button:before
{
    font-family: 'slick';
    font-size: 8px;
    line-height: 20px;

    position: absolute;
    top: 0;
    left: -15px;

    width: 20px;
    height: 20px;

    content: '•';
    text-align: center;

    opacity: 1;
    color: #fff;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before
{
    opacity: 1;
    color: #fff;
}