@charset 'UTF-8';
/* Slider */
.slick-loading .slick-list
{
    background: #fff url('../img/ajax-loader.gif') center center no-repeat;
}

/* Icons */
@font-face
{
    font-family: 'slick';
    font-weight: normal;
    font-style: normal;

    src: url('../font/slick.eot');
    src: url('../font/slick.eot?#iefix') format('embedded-opentype'), url('../font/slick.woff') format('woff'), url('../font/slick.ttf') format('truetype'), url('../fonts/slick.svg#slick') format('svg');
}
/* Arrows */
.slick-prev,
.slick-next
{  
    font-size: 0;
    line-height: 0;

    position: absolute;
    top: 50%;

    display: none;

    width: 20px;
    height: 20px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);

    cursor: pointer;

    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}



/* Dots */
.slick-dotted.slick-slider
{
    margin-bottom: 30px;
}

.slick-dots
{
    position: absolute;
    bottom: -80px;

    display: block;

    width: 100%;
    padding: 0;
    margin: 0;

    list-style: none;

    z-index: 100000;
    text-align: center;
}

@media (min-width: 992px) {
    .slick-dots {
        bottom: -180px;
    }
}

.slick-dots li
{
    position: relative;
    display: inline-block;

    margin: 0 15px;
    padding: 0;

    cursor: pointer;
}
.slick-dots li button
{
    font-size: 0;
    line-height: 0;

    display: block;

    width: 3px;
    height: 3px;
    padding: 3px;

    cursor: pointer;

    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
    border: 1px solid rgba(153, 153, 153, 0.5);
    border-radius: 50%;
    opacity: 1;
}
.slick-dots li button:hover,
.slick-dots li button:focus
{
    outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{
    opacity: 0;
}
.slick-dots li button:before
{
    font-family: 'slick';
    font-size: 7px;
    line-height: 20px;
    background: #fff;
    border: 1px solid rgba(153, 153, 153, 0.5);
    border-radius: 50%;

    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;

    width: 15px;
    height: 15px;

    content: '•';
    text-align: center;

    opacity: 0;
    color: #fff;
    

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before
{
    opacity: 1;
    color: #fff;
}
