body {
    font-family: $font-base;
  }

  .body-wrapper {
    overflow: hidden;
  }

  img {
    max-width: 100%;
    vertical-align: top;
  }

  a {
    display: block;
    color: inherit;
    text-decoration: none;
    text-transform: uppercase;
  }

  a,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin: 0;
    padding: 0;
  }

  input, 
  textarea {
    outline: 0;
    @include placeholder (color, 0);
  }

  ul,
  li  {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .btn {
    width: 170px;
    padding-top: 25px;
    padding-bottom: 26px;
    font: bold 13px $font-base;
    text-transform: uppercase;
    color: $color-btn;
    text-align: center;
    border-radius: 3px;
    box-shadow: 0 -4px 0 0 #fff;
    border-top-style: solid;
    border-top-width: 1px;
    transition: .3s;

      &_primary {
        background: $color-custom;
        border-top-color: #c1f2e9;
      }

      &_secondary {
        background: #00ccff;
        border-top-color: #ccffff;
      }
  }

.section {
  padding-top: 50px;
  padding-bottom: 50px;

    @include screen(sm) {
      padding-top: 50px;
      padding-bottom: 50px;
    }

    @include screen(md) {
      padding-top: 75px;
      padding-bottom: 75px;
    }

    @include screen (lg) {
      padding-top: 100px;
      padding-bottom: 100px;
    }
   
    .section-title {
      position: relative;
      padding-bottom: 30px;
      font-family: $font-base;
      font-size: 30px;
      text-align: center;
      text-transform: capitalize;
      color: $color-title-grey;
      
        @include screen(sm) {
          font-size: 32px;
          padding-bottom: 35px;
        }
    
        @include screen(md) {
          font-size: 34px;
          padding-bottom: 40px;
        }
    
        @include screen (lg) {
          font-size: 36px;
          padding-bottom: 43px;
        }

        &::before {
          content: '';
          position: absolute;
          width: 77px;
          height: 1px;
          bottom: 0;
          left: 50%;
          transform: translateX(calc(-50% - 7px));
          background: $color-custom;
        }

        &::after {
          content: '';
          position: absolute;
          width: 77px;
          height: 1px;
          bottom: -3px;
          left: 50%;
          transform: translateX(calc(-50% + 7px));
          background: $color-custom;
        }
    }
}

.back-to-top {
  position: fixed;
  bottom: 25px;
  right: 25px;
  display: none;
  padding: 12px 0;
  text-align: center;
  background: $color-custom;
  opacity: .8;
  width: 40px;
  height: 40px;
  border: 1px solid #fff;
  border-radius: 50%;
  box-shadow: 0 0 5px 1px #ccc;

    img {
      width: 40%;
    }
            
}

.preloader {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(172, 170, 170, 0.7);
  z-index: 9999;

  .spinner {
    width: 480px;
    height: 243px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: url(../images/giphy.gif) center no-repeat;
  }
}
  