// Fonts
$font-base:  'Roboto Slab','Times New Roman', serif;
$font-second: 'Montserrat','Arial', sans-serif;
// Colors
$color-font: #555555;
$color-title: #fff;
$color-hover: #c0301c;

// Backgounds
$bg-main: #fff;
