// Fonts
$font-base: 'Montserrat', Helvetica, sans-serif;

// Backgrounds
$bg-header: #44433e;
$bg-about: #090f14;


// Colors
$color-refs-nomain: #b8b8b8;
$color-btn: #fff;
$color-custom: #00cc99;
$color-title-grey: #4e4e4e;
$color-title-small: #717171;

// Borders colors
$border-color: #ebebeb;
