.news {
    font-family: $font-base;

    .section-title {
        margin-bottom: 40px;

        @include screen(md) {
            margin-bottom: 55px;
        }
        @include screen(lg) {
            margin-bottom: 70px;
        }
    }

    &__item {
        margin-bottom: 29px;

        &-wrapper {
            position: relative;
            transition: .3s;
           
            .news__item-text h4,
            .news__item-text p {
                line-height: 2.5;
            }

            &_date {
                padding: 13px 19px;
                font-size: 16px;
                line-height: 1.6;
                color: $color-btn;
                text-align: center;
                vertical-align: bottom;
                font-weight: normal;
                position: absolute;
                top: 0;
                right: 0;
                width: 67px;
                height: 67px;
                background: #203e38;
                transition: 0.3s;
                z-index: 1;
            }

        &:hover  {
            background: #203e38;
            border-color: #203e38;

            img {
                filter: brightness(50%);
            }                  

            .news__item-text h4,
            .news__item-text p {
                color: $color-btn;
            }
            .news__item-img::before {
               opacity: 1;
            }
           
       }
    }
        
        &-img {
            border-bottom: 1px solid #edeeee;

            &_hover {
                position: absolute;           
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: #ccc;
                transition: 0.3s;
                opacity: 0;
            }

            // &::before {
            //     content: '12 Feb';
            //     padding: 13px 19px;
            //     font-size: 16px;
            //     line-height: 1.6;
            //     color: $color-btn;
            //     text-align: center;
            //     vertical-align: bottom;
            //     font-weight: normal;
            //     position: absolute;
            //     top: 0;
            //     right: 0;
            //     width: 67px;
            //     height: 67px;
            //     background: #203e38;
            //     transition: 0.3s;
            //     opacity: 0;
            //     z-index: 1;
            // }

         img {
            width: 100%;
            }
        }
        &-text {
            padding-left: 18px;
            padding-bottom: 10px;
            h4 {
                font-size: 14px;
                font-weight: bold;
                color: $color-title-small;

                @include screen(md) {
                    font-size: 16px;
                }
                @include screen(lg) {
                    font-size: 18px;
                }
            }

            p {
                font-size: 12px;
                font-weight: 300;
                color: #777;

                span {
                    padding-left: 16px;
                    padding-right: 16px;
                }
               

                @include screen(md) {
                    font-size: 13px;
                }
                @include screen(lg) {
                    font-size: 14px;
                }
            }
        }
    }


    &__item-wrapper {
        border: 1px solid #edeeee;
    }
   
}