.work {
    font-family: $font-base;
    border-bottom: 1px solid#e1e1e1;
    background: #f8fcfe;


    .btn_primary {
        display: block;
            margin: 0 auto;
            cursor: pointer;
            outline: 0;
            border: 0;

            &:hover {
                background: darken($color-custom, 10%);
            }
        }

    .item {
        position: relative;
        padding: 0;
        border-top: 2px solid #e7eaeb;
        transition: .3s;

        img {
            width: 100%;
        }

        .img-hover {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateX(-50%);
            display: none;
            text-align: center;
            a {
                position: relative;
                font-size: 14px;
                line-height: 1.8;
                font-weight: bold;
                color: $color-btn;
                text-transform: uppercase;
                text-align: center;

                &::before {
                    content:'';
                    position: absolute;
                    width: 44px;
                    height: 44px;
                    bottom: 100%;
                    transform: translateY(-50%);
                    left: 15%;
                    transition: .3s;
                    background: url(../images/icon-work.png) no-repeat;
                }

                &::after {
                    content:'';
                    position: absolute;
                    width: 44px;
                    height: 44px;
                    bottom: 100%;
                    transform: translateY(-50%);
                    left: 60%;
                    transition: .3s;
                    background: url(../images/icon-search-work.png) no-repeat;
                }
            }

            p {
                font-size: 12px;
                font-weight: bold;
                color: $color-btn;
            }
        }

        &:hover {
            border-top: 2px solid $color-custom; 
            .img-hover {
                display: block;

            }
        }
    }

    .section-title,
    .button-group,
    .grid {
        margin-bottom: 40px;

        @include screen(sm) {
            margin-bottom: 50px;
        }

        @include screen(md) {
            margin-bottom: 60px;
        }

        @include screen(lg) {
            margin-bottom: 70px;
        }
    }
}

.button-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
    button {
        display: block;
        padding-right: 24px;
        padding-left: 24px;
        font-weight: normal;
        font-size: 12px;
        line-height: 3;
        color: $color-title-small;
        text-transform: capitalize;
        border: 1px solid $border-color;
        background: transparent;
        outline: 0;
        cursor: pointer; 
        transition: .3s;

        &:hover {
            background: darken($color-btn, 5%);
            color: $color-custom;
            border-top-color: $color-custom;
        }
        &.current {
            background: darken($color-btn, 5%);
            color: $color-custom;
            border-top-color: $color-custom;
        }

        @include screen(md) {
            font-size: 13px;
        }
        @include screen(lg) {
            font-size: 14px;
        }
    } 
}

