// Media queries
@mixin screen($point) {
  $el: 2000px;
  $xl: 1200px;
  $lg: 992px;
  $md: 768px;
  $sm: 576px;

  @if $point == el {
    @media screen and (min-width: $el) {
      @content;
    }
  }

  @if $point == xl {
    @media screen and (min-width: $xl) {
      @content;
    }
  }
    @else if $point == lg {
    @media screen and (min-width: $lg) {
      @content;
    }
  }
  @else if $point == md {
    @media screen and (min-width: $md) {
      @content;
    }
  }
  @else if $point == sm {
    @media screen and (min-width: $sm) {
      @content;
    }
  }
  @else {
    @media screen and (min-width: $point) {
      @content;
    }
  }
}

// @mixin pattern-bg {
//   padding: 40px 0;
//   background: #f2f2f2 url(../images/bg-about-pattern.png) center/cover no-repeat;
// }