.about__slider {
.slick-prev,
.slick-next
{
    font-size: 0;
    line-height: 0;

    position: absolute;
    top: 40%;
    z-index: 5;

    display: block;

    width: 35px;
    height: 35px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);

    cursor: pointer;

    color: transparent;
    border: none;
    outline: none;
    background: $color-hover;
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus
{
    color: transparent;
    outline: none;
    background: $color-hover;
}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before
{
    opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before
{
    opacity: .25;
}

.slick-prev:before,
.slick-next:before
{
    font-family: "fontello";
    font-size: 20px;
    line-height: 1;

    opacity: .75;
    color: white;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev
{
    left: 29px;
}
[dir='rtl'] .slick-prev
{
    right: 25px;
    left: auto;
}
.slick-prev:before
{
    content: '\f007';
}
[dir='rtl'] .slick-prev:before
{
    content: '\f006';
}

.slick-next
{
    right: 29px;
}
[dir='rtl'] .slick-next
{
    right: auto;
    left: 25px;
}
.slick-next:before
{
    content: '\f006';
}
[dir='rtl'] .slick-next:before
{
    content: '\f007';
}


        &-item-name {
            font-family:  $font-second;
            font-weight: 600;
            font-size: 14px;
            text-transform: uppercase;
            margin: 20px 0 10px 0;

        }
        
        &-item-ceo {
            font-size: 13px;
        }
        &-item-inner {
            position: relative;
            overflow: hidden;

            img {
                width: 100%;
            }
        }
        @include screen(md) {
            &-item-img {
                padding: 0 10px;
            }
        }
            @include screen(lg) {
                &-item-img {
                    padding: 0 15px;
                }
           
            }

        &-item-inner:hover &-content {
            opacity: 1;
            transition: .5s;
        
        }
        &-content {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 2;
            text-align: center;
            width: 100%;
            height: 100%;
            background-color: rgba(85, 85, 85, .5);  
            opacity: 0;
            transition: opacity .5s linear;
            cursor: pointer;

            @include screen(md) {
                    left: 10px;
                }
            
                @include screen(lg) {
                    left: 15px;
               
                }


            a {
                color: #fff;
                font-size: 18px;
                padding: 5px;

                :hover {
                    background: $color-hover;
                }
            }

            @include screen(md) {
                   width: 94%;
            }
            @include screen(lg) {
                    width: 88%;
                        
                    }
                    @include screen(lg) {
                        width: 90%;
                            
                        }
          &-icons {
              padding-top: 70%;
          }
    
            }
            
}
